.btn-primary {
    /*background crimson for all buttons*/
    background-color: crimson !important;
}

.no-borders {
    /*excepts certain images to not have borders*/
    padding:0px;
    border:0px;
}

img {
    /*places borders and padding around images*/
    padding:1px;
    border:1px solid #021a40;
}

.sticky {
    /*makes navbar stick to the top and stay in front*/
    position: sticky;
    top: 0.1px; /* When the element reaches top: 0.1px, it becomes fixed. */
    z-index: 100;
}

a {
    /*turns hyperlinked text crimson*/
    color: crimson;
}

a:hover {
    /*turns hyperlinked text a darker shade of crimson upon hovering*/
    color: #a30f2d;
}

.home_icon {
    /*harvard logo in navbar*/
    display: inline-block;
    width: 70px;
}

#button1 , #button2 {
    /*displays pair of buttons next to each other*/
    display:inline-block;
    text-align: left;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .white
{
    color: white;
}
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

img .emojione
{
  margin: 0px !important;
  /*display: inline !important;*/

  height: auto;
  width: 50px;
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

#slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Stylize text box */
#q
{
    /* Override typeahead.js's transparent background */
    background-color: #ffffff !important;

    /* Text box's width */
    width: 300px;
}

/* Stylize info window */
#info
{
    /* No margin around this element */
    margin: 0;

    /* Allow scrollbars as needed */
    overflow: auto;
}
#info ul
{
    margin-bottom: 0;
}

/* Stylize typeahead.js a la http://twitter.github.io/typeahead.js/css/examples.css */
.tt-menu
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1px;
    max-height: 150px;
    overflow-y: auto;
    width: 300px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097cf;
    color: #fff;
    cursor: pointer;
}
.tt-suggestion {
    margin: 0;
    padding: 6px 12px;
}

.team{
    padding:75px 0;
}
h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}
.profile{
	margin-top: 25px;
}
.profile h1{
	font-weight: normal;
	font-size: 20px;
	margin:10px 0 0 0;
}
.profile h2{
	font-size: 14px;
	font-weight: lighter;
	margin-top: 5px;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul{
	position: absolute;
	z-index: 2;
	bottom: 50px;
	text-align: center;
	width: 100%;
	padding-left: 0px;
	height: 0px;
	margin:0px;
	opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
	font-size: 20px;
	letter-spacing: 10px;
}
.img-box ul li{
	width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #88C425;
    margin: 2px;
    padding: 5px;
	display: inline-block;
}
.img-box a{
	color:#fff;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul{
	opacity: 1;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
	border-color: #fff;
	color: #88C425;
}
/*a{*/
/*    color:#88C425;*/
/*}*/
/*a:hover{*/
/*    text-decoration:none;*/
/*    color:#519548;*/
/*}*/
i.red{
    color:#BC0213;
}

.animated {
    			-webkit-transition: height 0.2s;
				-moz-transition: height 0.2s;
				transition: height 0.2s;
			}

.list-group{
    width: 350px;
    height: 330px;
    overflow-y: auto;
      background-color: #ffffff;
      color: white;
 }

.list-group .active {
  background-color: crimson;
  border-color: #000000;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.text-center {
   text-align:center
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}