{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    {#
        Allows user to enter current password, new password, and confirmation in order to change password
    #}
    <form action="/change-password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="current_password" placeholder="Current Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="New Password" type="password"/>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password"/>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
