{% extends "layout.html" %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    {#
        Allows user to submit recommendations for what should be rated
    #}
    <form action="/contact-us" method="post">
        <div class="container-fluid">
            <input autocomplete="off" autofocus class="form-control" name="suggestion" placeholder="Recommendation" type="text"/>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
