{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}
    {#
        Allows user to submit suggestions for locations to add to database
    #}

    <script>
        $(function(){
				$('.normal').autosize();
				$('.animated').autosize({append: "\n"});
			});
    </script>

    <form action="/contact-us" method="post">
        <h2>Contact Us</h2>
        We're always looking to add more locations to our website, so as to improve our institutional knowledge and allow students to
        know more about our wonderful campus. Please submit your suggestion for a location below!
        <p></p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="name" placeholder="Location Name" type="text"/>
        </div>
        <div class="media-body">
           <div class="form-group" style="padding:12px;">
            <textarea class="form-control animated" placeholder="Why?"></textarea>
           </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
