{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
{#
    Lays out home page with random location, then tables of top 5 locations
#}
<div class = "row" style="border: 4px groove red; border-radius: 10px;">
    {#
        splits rows into two parts
    #}
    <div class="col-md-6">
        <h1 style="text-align:left;">
            {#
                dynamically generates URL for hyperlink
            #}
            <a href="{{ rand_location['href'] }}">{{ rand_location["name"] }}</a>
        </h1>

        <p style="text-align:left;">{{ rand_location["description"] }}</p>

        <p></p>

        {{ rand_location["photo"]|safe }}

        <p></p>

        <p style="text-align:left;" id="address">Address: {{ rand_location["address"] }}</li>
    </div>
    {#
        Radio form with emojis
    #}
    <div class="col-md-6" style="background-color:#fefbd8;">
        <p></p>
        <form action="/" method="post">
            What is your reaction to this place? <br>
            <label class="home_icon">
                <input type="radio" name="mood" value="happy"/>
                <img class="no-borders" src="/static/pictures/happy.png" width="75%">
            </label>
            <label class="home_icon">
                <input type="radio" name="mood" value="neutral"/>
                <img class="no-borders" src="/static/pictures/neutral.png" width="75%">
            </label>
            <label class="home_icon">
                <input type="radio" name="mood" value="unhappy"/>
                <img class="no-borders" src="/static/pictures/frowning.png" width="75%">
            </label>
            <label class="home_icon">
                <input type="radio" name="mood" value="angry" />
                <img class="no-borders" src="/static/pictures/angry_face.png" width="75%">
            </label>
            <label class="home_icon">
                <input type="radio" name="mood" value="sad"/>
                <img class="no-borders" src="/static/pictures/tear.png" width="75%">
            </label>
            <br>
            {#
                Sliders with values 1 to 5 and questions for user to answer
            #}
            <div>
                How often do you go? <br>
                <div id="slidecontainer">
                    never gone <input type="range" min="1" max="5" value="3" step="1" class="slider" name="frequency"s> live there
                </div>
            </div>
            <br>
            <div>
                How busy is this location?<br>
                <div id="slidecontainer">
                    <img class="no-borders" src="/static/pictures/empty.png" width="10%"> <input type="range" min="1" max="5" value="3" step="1" class="slider" name="busy"> <img class="no-borders" src="/static/pictures/feet.png" width="10%">
                </div>
            </div>
            <br>
            {% if food %}
                 <div>
                    How tasty is the food here?<br>
                    <div id="slidecontainer">
                        <img class="no-borders" src="/static/pictures/vomit.png" width="10%"> <input type="range" min="1" max="5" value="3" step="1" class="slider" name="conducive"> <img class="no-borders" src="/static/pictures/heart.png" width="10%">
                    </div>
                </div>
            {% else %}
                <div>
                    How conducive is this location to studying?<br>
                    <div id="slidecontainer">
                        <img class="no-borders" src="/static/pictures/not_conducive.png" width="10%"> <input type="range" min="1" max="5" value="3" step="1" class="slider" name="conducive"> <img class="no-borders" src="/static/pictures/v_conducive.png" width="10%">
                    </div>
                </div>
            {% endif %}
            <br>
            <div>
                How lit can this location get?<br>
                <div id="slidecontainer">
                    <img class="no-borders" src="/static/pictures/cobweb.png" width="10%"> <input type="range" min="1" max="5" value="3" step="1" class="slider" name="lit"> <img class="no-borders" src="/static/pictures/lit.png" width="10%">
                </div>
            </div>
            <br>
            <div>
                How good is this location compared to others like it?<br>
                <div id="slidecontainer">
                    <img class="no-borders" src="/static/pictures/bad_deviance.png" width="10%"> <input type="range" min="1" max="5" value="3" step="1" class="slider" name="deviance"> <img class="no-borders" src="/static/pictures/good_deviance.png" width="10%">
                </div>
            </div>
            <br>
            <div>
                How likely would you go on a date here?<br>
                <div id="slidecontainer">
                    <img class="no-borders" src="/static/pictures/no_love.png" width="10%"> <input type="range" min="1" max="5" value="3" step="1" class="slider" name="romance"> <img class="no-borders" src="/static/pictures/true_love.png" width="10%">
                </div>
            </div>
            <br>

            <button class="btn btn-primary" type="submit">Rate!</button>
        </form>
        <p></p>
    </div>
</div>

<p></p>
<p></p>
{#
    tables containing top five entries for categories
#}
<div class = "row">
    <div class="col-md-6 ranking">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">
                         <h4>TOP DINING HALLS</h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for location in dining_info %}
                {#
                    Iterates through rows of table
                #}
                    <tr>
                        {#
                        Fill in table with relevant holdings information
                        #}
                        <td>
                            <a href="{{ location['href'] }}">{{ location["name"] }}</a>
                        </td>

                        <td>
                            {{ location["misc"] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <div class="col-md-6 ranking">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">
                         <h4>TOP RESTAURANTS</h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for location in restaurant_info %}
                {#
                    Iterates through rows of table
                #}
                    <tr>
                        {#
                        Fill in table with relevant holdings information
                        #}
                        <td>
                            <a href="{{ location['href'] }}">{{ location["name"] }}</a>
                        </td>

                        <td>
                            {{ location["misc"] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class = "row">
    <div class="col-md-6 ranking">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">
                         <h4>TOP FRESHMAN DORMS</h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for location in housing_info %}
                {#
                    Iterates through rows of table
                #}
                    <tr>
                        {#
                        Fill in table with relevant holdings information
                        #}
                        <td>
                            <a href="{{ location['href'] }}">{{ location["name"] }}</a>
                        </td>

                        <td>
                            {{ location["misc"] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-6 ranking">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">
                         <h4>TOP DATE SPOTS</h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for location in dating_info %}
                {#
                    Iterates through rows of table
                #}
                    <tr>
                        {#
                        Fill in table with relevant holdings information
                        #}
                        <td>
                            <a href="{{ location['href'] }}">{{ location["name"] }}</a>
                        </td>

                        <td>
                            {{ location["misc"] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
