{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class = "row">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">
                         <h4>TOP DINING HALLS</h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for location in dining_info %}
                {#
                    Iterates through rows of table
                #}
                    <tr>
                        {#
                        Fill in table with relevant holdings information
                        #}
                        <td>
                            {{ location["name"] }}
                        </td>

                        <td>
                            {{ location["misc"] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2">
                         <h4>TOP DINING HALLS</h4>
                    </th>
                </tr>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        Rating
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for location in dining_info %}
                {#
                    Iterates through rows of table
                #}
                    <tr>
                        {#
                        Fill in table with relevant holdings information
                        #}
                        <td>
                            {{ location["name"] }}
                        </td>

                        <td>
                            {{ location["misc"] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
