{% extends "layout.html" %}

{% block title %}
    Account Overview
{% endblock %}

{% block main %}
    <form action="/account" method="post">
        <div class="form-group">
            Username: <input autocomplete="off" autofocus class="form-control" name="username" placeholder="{{ username }}" type="text" disabled/>
        </div>
        <div class="form-group">
            Email: <input autocomplete="off" autofocus class="form-control" name="email" placeholder="{{ email }}" size="35" type="text" disabled/>
        </div>
        <div class="form-group">
            Join date: <input autocomplete="off" autofocus class="form-control" name="registered_on" placeholder="{{ registered_on }}" type="text" disabled/>
        </div>
        <a href="/change-password" class="btn btn-primary">Change Password</a>
    </form>
{% endblock %}