{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<form action="/user/{{ user_id }}" method="get">

    <h1>{{username}}'s profile</h1>
    <br>
    <div class="row">
        <div class="col">
            <img src="/static/pictures/generic_prof.jpg" width="75%">
        </div>
        <div class="col">
            <h4>Ratings Given</h4>
            <h5>{{ratings}}</h5>
            <br>
            <h4>Join Date</h4>
            <h5>{{join_date}}</h5>
            <br>
            <div class="list-group center-block">
                <a class="list-group-item active sticky">Wishlist</a>
                {% for place in favorite_places %}
                <a href="{{ place.href }}" class="list-group-item list-group-item-action">{{ place.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</form>

{% endblock %}