{% extends "layout.html" %}

{% block title %}
    Rate
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <h2>
            What is your reaction to this place?
        </h2>
        <label>
            <input type="radio" name="mood" value="happy"/>
            <img src="/static/pictures/happy.png">
        </label>
        <label>
            <input type="radio" name="mood" value="neutral"/>
            <img src="/static/pictures/neutral.png">
        </label>
        <label>
            <input type="radio" name="mood" value="unhappy"/>
            <img src="/static/pictures/frowning.png">
        </label>
        <label>
            <input type="radio" name="mood" value="angry" />
            <img src="/static/pictures/angry_face.png">
        </label>
        <label>
            <input type="radio" name="mood" value="sad"/>
            <img src="/static/pictures/tear.png">
        </label>

        <h2>
            Question 2 placeholder
        </h2>
        <label>
            <input type="radio" name="fb" value="small"/>
            <img src="/static/pictures/happy.png">
        </label>
        <label>
            <input type="radio" name="fb" value="small"/>
            <img src="/static/pictures/neutral.png">
        </label>
        <label>
            <input type="radio" name="fb" value="small"/>
            <img src="/static/pictures/frowning.png">
        </label>
        <label>
            <input type="radio" name="fb" value="small" />
            <img src="/static/pictures/angry_face.png">
        </label>
        <label>
            <input type="radio" name="fb" value="small"/>
            <img src="/static/pictures/tear.png">
        </label>
    </form>
{% endblock %}