{% extends "layout.html" %}

{% block title %}
    Unconfirmed
{% endblock %}

{# Unconfirmed email page #}
{% block main %}
<h1>Welcome to CS50 Finance</h1>
<p>
    For my 'lil extra', I decided to add an email confirmation, which unfortunately means you need to verify your account (via whatever email you entered) before you can test some features out!
    Please check your inbox for an email!
    {# Resend link #}
    Didn't get one? <a href="{{ url_for('resend_confirmation') }}">Resend</a>
</p>
{% endblock %}